.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100vw 320px;
}

.heroImg {
  width: 90%;
  max-width: 38rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.curv {
  width: 100vw;
  height: 120px;
}

.descriptionBox {
  text-align: center;
  /* background-color: var(--bg-color); */
  width: 100vw;
  color: #fff;
}

.descriptionHeading {
  font-family: "Raleway";
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
  max-width: 60rem;
  line-height: 36px;
}

.description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9em;
  width: 80%;
  max-width: 28rem;
  margin: auto;
  margin-bottom: 30px;
  line-height: 24px;
}

.getStartedBtn {
  font-family: "Open Sans";
  background-color: rgb(101,226,217);
  background: linear-gradient(126deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 94%); 
  border: none;
  border-radius: 80px;
  width: 200px;
  font-weight: 700;
  color: #fff;
  height: 50px;
  width: 70%;
  max-width: 15rem;
  transition: background-color 0.3s linear;
}

.getStartedBtn:hover {
  background: rgb(101,226,217);
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/bg-curvy-desktop.svg");
    background-size: 100vw 400px;
  }
  .descriptionHeading {
    font-size: 3em;
    line-height: 70px;
  }
}

