@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  /*! ----------- COLORS ----------- */

  /*? ----- PRIMARY ----- */

  --bg-color: #181f2a;
  --sign-up-color: #1c2431;
  --footer-bg-color: #0b1523;
  --testimonials-bg-color: #202a3c;

  /*? ----- ACCENT ----- */

  --cyan: #65e2d9;
  --blue: #339ecc;
  --light-red: #ff4242;

}

body {
  background-color: var(--sign-up-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

